/* Resetting default margin, padding, font-family, and box-sizing */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* Body styling */
body {
  background-color: #001e4d;
}

/* Styling for the main application container */
.app {
  background-color: white;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

/* Styling for the main heading */
.app h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

/* Hide main content initially */
#main {
  display: none;
}

/* Styling for quiz section */
.quiz {
  display: none;
  padding: 15px 20px 0;
}

/* Styling for paragraphs in the main section */
#main p {
  margin: 10px 0;
}

/* Styling for specific spans within paragraphs */
#main p span {
  color: red;
}

/* Styling for quiz question heading */
.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}

/* General button styling */
.btn {
  background-color: white;
  color: #222;
  font-weight: 500;
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  text-align: left;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  display: block;
  font-size: 15px;
}

/* Button hover effect */
.btn:hover:not([disabled]) {
  background: #222;
  color: white;
}

/* Disabled button styling */
.btn:disabled {
  cursor: no-drop;
}

/* Styling for specific buttons */
#next-btn,
#start-btn {
  background: #001e4d;
  color: white;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

/* Initially hide next button */
#next-btn {
  display: none;
}

/* Styling for correct answer */
.correct {
  background: #9aeabc;
}

/* Styling for incorrect answer */
.incorrect {
  background: #ff9393;
}

/* Styling for end screen section */
#end-screen,
#end-screen h2 {
  padding: 15px 0;
}

/* Styling for input in end screen */
#end-screen input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-block-start: 5px;
  font-size: medium;
}

/* Styling for score label */
.score {
  padding-block-start: 10px;
}

/* Styling for save button */
#save-btn {
  background: black;
  color: white;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-block-start: 20px;
}

/* Styling for introduction section */
#intro {
  display: block;
  margin: 60px;
}

/* Styling for paragraphs in introduction */
#intro p {
  font-family: sans-serif;
  width: 80%;
  font-size: 23px;
  display: block;
  margin: auto;
  text-align: center;
  padding: 50px;
  background: white;
  color: black;
  border-radius: 20px;
}

/* Styling for start quiz button in introduction */
#intro button {
  width: 35%;
  border-radius: 30px;
  padding: 30px;
  font-size: 40px;
  display: block;
  margin: auto;
  margin-top: 90px;
  border: 1px solid red;
}

/* Focus and hover styles for start quiz button */
#intro button:focus-visible,
#intro button:hover {
  outline: 1px solid red;
  outline-offset: 2px;
  transition: 0.2s;
}

/* Styling for highscores section */
#highscores-section h1,
#highscores-list,
#go-back-btn,
#clear-btn {
  background: #001e4d;
  color: white;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  width: auto;
  padding: 30px;
}

/* Styling for buttons in highscores section */
#highscores-section button {
  border: 1px solid #ff000054;
  padding: 20px;
  width: 40%;
  border-radius: 20px;
}

/* Hover effect for buttons in highscores section */
#highscores-section button:hover {
  background: #6d5151;
  color: white;
}

/* Styling for highscores button */
#highscores-btn {
  color: white;
  background: black;
  text-align: center;
}

/* Styling for highscores list */
#highscores-list {
  color: #ff9393;
  cursor: auto;
  padding: 4%;
  list-style-type: auto;
  width: max-content;
}

/* Styling for highscores section heading */
#highscores-section h1 {
  width: 70%;
  margin-block-start: 5%;
  background: black;
  padding: 30px;
  border-radius: 30px;
  border: 1px solid white;
  cursor: auto;
}